---
title: Repertoire
order: 3
---
<table id="repertoire">
  <thead>
    <tr>
      <th>Interpret</th>
      <th>Songtitel</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for song in site.data.repertoire %}
    <tr>
      <td>{{ song.artist }}</td>
      <td>{{ song.title }}</td>
      <td>{% if song.link %}<a href="{{ song.link }}">Song anhören</a>{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#repertoire').DataTable({
      "paging": false,
      "info": false,
      "order": [[0, "asc"]],
      "language": {
        "sEmptyTable":      "Keine Daten in der Tabelle vorhanden",
        "sInfo":            "_START_ bis _END_ von _TOTAL_ Einträgen",
        "sInfoEmpty":       "0 bis 0 von 0 Einträgen",
        "sInfoFiltered":    "(gefiltert von _MAX_ Einträgen)",
        "sInfoPostFix":     "",
        "sInfoThousands":   ".",
        "sLengthMenu":      "_MENU_ Einträge anzeigen",
        "sLoadingRecords":  "Wird geladen...",
        "sProcessing":      "Bitte warten...",
        "sSearch":          "Suchen",
        "sZeroRecords":     "Keine Einträge vorhanden.",
        "oPaginate": {
            "sFirst":       "Erste",
            "sPrevious":    "Zurück",
            "sNext":        "Nächste",
            "sLast":        "Letzte"
        },
        "oAria": {
            "sSortAscending":  ": aktivieren, um Spalte aufsteigend zu sortieren",
            "sSortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
        }
      }
    });
  });
</script>
