<!DOCTYPE html>
<html lang="de">
<head>
{% include head.html %}
</head>
<body>

<header id="page-header">
  <a href="{{ '/' | prepend: site.baseurl}}">
    <img src="{{ '/img/logo_the_voice.jpg' | prepend: site.baseurl }}" alt="The Voice" style="width: 231px; height: 80px;">
  </a>
  {% include nav.html %}
</header>

<main>
{{ content }}
</main>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.mhu.dev/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.mhu.dev/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="a" /></p></noscript>
<!-- End Matomo Code -->

</body>
</html>
